.cards{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px auto;
}

.card{
  width: 48%;
  margin-bottom: 30px;
}

.card_image{
  width: 100%;
}

.card_image img{
  width: 100%;
}

.card_text{
  width: 100%;
}

.card_text p{
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #1a1a1a;
  margin-top: 5px;
}